MAWS/assignment/static/Device_schema.xsd

<?xml version = "1.0"?>
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:element name="DeviceList">
		<xsd:complexType>			
			<xsd:choice minOccurs="1" maxOccurs="unbounded">
			<xsd:element name="Device">
				<xsd:complexType>
				<xsd:all>
					<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="location" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="type" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				</xsd:all>
				</xsd:complexType>
			</xsd:element>	
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>